# Targets files
_targets
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
.remake/
**.nc
**.nc.ind
**_tasks.yml
1_crosswalk_fetch/in/*.zip
1_crosswalk_fetch/in/*.csv
3_params_fetch/out/*.zip
3_params_fetch/in/*.zip
3_params_fetch/in/*.csv
3_params_fetch/out/*.csv
6_drivers/log/feather/*.feather.ind
7_drivers_munge/in/gcm_grid_shapefiles/*
7_drivers_munge/out/*.csv
7_drivers_munge/out/*.csv.ind
6_drivers/log/feather/cellgroup*.yml
8_viz/in/*.csv
# Data files
*.rds
*.Rds
*.feather
*.Feather
*.shp
*.shx
*.dbf
*.prj
*.xml
*.xlsx
*.Rdata
*.png
# "in" cooperator data
/6_temp_coop_fetch/in/*
!/6_temp_coop_fetch/in/*.ind
!/6_temp_coop_fetch/in/*.placeholder
# downloaded LTER data
6_temp_coop_fetch/downloads/*.csv
7_drivers_munge/mendota_out/*
7_drivers_munge/sparkling_out/*
6_drivers/in/*.csv
!6_drivers/in/*.rds
# tmp wqp indicators
6_temp_wqp_fetch/tmp/*
# tmp coop munged files/indicators
7a_temp_coop_munge/tmp/*
build/status/N2FfdGVtcF9jb29wX211bmdlL3RtcC9*
!7a_temp_coop_munge/tmp/parser_files.yml
# tmp wqp munge indicators
7a_temp_wqp_munge/tmp/*
# ignore bathy downloads
3_params_fetch/in/hypsos_m/*
# ignore html files
*.html
# ignore source metdata csv
7b_temp_merge/in/source_metadata.csv
7b_temp_merge/out/source_metadata_for_release.csv
# Ignore GCM pipeline intermediate files
7_drivers_munge/tmp/*
!7_drivers_munge/tmp/.empty
